.bg-container {
  background-color: #eef4f7;
  height: 100%;
  padding: 10px;
}
.heading {
  font-family: Roboto;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  color: #475569;
  text-decoration: underline;
  text-decoration-color: #52bbf0;
}
.ul-list-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.list-items {
  display: flex;
}
.items-container {
  background-color: #ffffff;
  height: 100%;
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
}
.head-para-card {
  padding: 10px;
}
.image {
  height: 250px;
  width: 400px;
}
